<!DOCTYPE html>
<html>
<head>
<title>Nodejs Code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="folder/prism.css">
<<style type="text/css">
html
{
 scroll-behavior:smoth;
}
#header
{
 color:rgba(255,255,255, 0.5);
 font-size:16px;
 font-family: 'Raleway', sans-serif;
 background:#111111;
 height:55px;
 line-height:44px;
 display:flex;
 justify-content:space-between;
 left:0;
 top:0;
 position:fixed;
 width:100%;
 z-index:10001;
}
.logo
{
 color:#FFFFFF;
 padding:0px 1.25rem;
 font-size:1rem;
 font-family: 'Raleway', sans-serif;
 font-weight:600;
 height:inherit;
 line-height:inherit;
 text-decoration:none;
}

#body
 {
  background-image:url('https://1.bp.blogspot.com/-klXl-BhGkUE/XwZ-3Z4JvpI/AAAAAAAACDs/1Lrzkpa7kBYOTRv42XIMLwyzf48HQOvdgCK4BGAsYHg/s384/images.jpeg');
  background-attachment:fixed;
 }
 
.h6:hover
{
 color:blue;
}
</style> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body id="body">

<header id="header">
		<a class="logo" href="https://codehelperdesk.blogspot.com">CodeHelperDesk</a>
		<div class="mt-2 mr-3">
	       <input id="searchinput" onkeyup="search()" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
		</div>
</header>

<!-- write code -->
<div class="row mt-5">
<!--code block -->

<div class="col-sm-4">
<div class="mx-2">
<!-- Add page link -->
<div class="card py-2 px-2 mb-3">
  <h2 class="text-dark">Nodejs Code List</h2>
  
  <!--use it for new link-->
  <div class="card pt-2 pl-2 mt-1">
   <a href="#it" class="mb-1 text-dark"><h6 class="h6">Importent Topic For Nodejs</h6></a>
  </div>
  <div class="card pt-2 pl-2 mt-1">
   <a href="#cm" class="mb-1 text-dark"><h6 class="h6">Create Module And Use</h6></a>
  </div>
  <div class="card pt-2 pl-2 mt-1">
   <a href="#path" class="mb-1 text-dark"><h6 class="h6">Path Module</h6></a>
  </div>
  <div class="card pt-2 pl-2 mt-1">
   <a href="#fs1" class="mb-1 text-dark"><h6 class="h6">Using fs Module Read File</h6></a>
  </div>
  <div class="card pt-2 pl-2 mt-1">
   <a href="#wsa" class="mb-1 text-dark"><h6 class="h6">Write File Using fs Module with Synchronous&Asynchronous</h6></a>
  </div>
  <div class="card pt-2 pl-2 mt-1">
   <a href="#http" class="mb-1 text-dark"><h6 class="h6">Http Server in Nodejs</h6></a>
  </div>

 <div class="card pt-2 pl-2 mt-1">
   <a href="#sapi" class="mb-1 text-dark"><h6 class="h6">simple api</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#jd" class="mb-1 text-dark"><h6 class="h6">pass json data in nodejs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#hd" class="mb-1 text-dark"><h6 class="h6">html code pass</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#fr" class="mb-1 text-dark"><h6 class="h6">file read and pass</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#db" class="mb-1 text-dark"><h6 class="h6">database connection and selecte data</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#ev" class="mb-1 text-dark"><h6 class="h6">event</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#cu" class="mb-1 text-dark"><h6 class="h6">custom event</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#ds" class="mb-1 text-dark"><h6 class="h6">directory structure</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#se" class="mb-1 text-dark"><h6 class="h6">start expressjs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#ru" class="mb-1 text-dark"><h6 class="h6">routing in expressjs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#mi" class="mb-1 text-dark"><h6 class="h6">middleware</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#rmi" class="mb-1 text-dark"><h6 class="h6">routed middleware</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#sfr" class="mb-1 text-dark"><h6 class="h6">send file as a response</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#te" class="mb-1 text-dark"><h6 class="h6">template engine</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#pdp" class="mb-1 text-dark"><h6 class="h6">pass data in a template</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#ti" class="mb-1 text-dark"><h6 class="h6">template inheritance</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#sit" class="mb-1 text-dark"><h6 class="h6">static file in expressjs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#gfe" class="mb-1 text-dark"><h6 class="h6">get form data in expressjs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#pfe" class="mb-1 text-dark"><h6 class="h6">post form data in expressjs</h6></a>
  </div>
  
  <div class="card pt-2 pl-2 mt-1">
   <a href="#mo" class="mb-1 text-dark"><h6 class="h6">mongodb database code </h6></a>
  </div>

  <div class="card pt-2 pl-2 mt-1">
   <a href="#videostr" class="mb-1 text-dark"><h6 class="h6">Streaming using pipe</h6></a>
  </div>

  <div class="card pt-2 pl-2 mt-1">
   <a href="#promise" class="mb-1 text-dark"><h6 class="h6">Promise Also async & await & callback</h6></a>
  </div>
  <!-- yes it used-->
  
 </div>
<!-- upside -->
</div>
</div>

<div class="col-sm-8">
<div class="mx-2">
<!--use it add new code use it code-->
<div class="card py-2 px-2" id="it" id="bg">
<h3 class="pl-2 sea">Importent Topic For Nodejs</h3>
<pre>
<code class="language-javascript">
    //Nodejs is a JavaScript runtime built on chrome's v8 JavaScript engine for executing JavaScript code
    //Nodejs is a note a framework or a language
    //Nodejs write/develop in c++
    //Nodejs run JavaScript code server side
    //NPM stands Node Package Manager
    //It is manage package
    //Power of nodejs is module
    //Nodejs run single-threaded,non-blocking,asynchronously programing,which is very memory efficient
    //install nodejs on official website
    //open command prompt (cmd) 
    //user full command
    /*
      node -v (check version) 
      node (open node repl) 
      node filename (run node code) 
    */
    //create node project folder end open it
    /*
     node init(create package.json file) check your project folder your new file package.json created    
    */
</code>
<div>
</pre>
 <pre>
 <h3>package.json</h3>
  <code class="language-javascript">
  {
  "name": "Mr.Been",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
     "test": "echo \"Error: no test specified\" && exit 1", 
     "start":"node work"
  },
  "author": "Mr.Been",
  "license": "ISC"
  }
  //"start":"node work"(it is used to start server using npm command Ex.npm start)
  </code>
 </pre>
</div>

<div class="card py-2 px-2 mt-2" id="cm" id="bg">
<h3 class="pl-2 sea">Create Module And Use</h3>
<pre>
<h3>module.js</h3><hr>
<code class="language-javascript">
   exports.sum=(a,b)=>(a+b);//arrow function short method
   //first method for exports
   function name(name)
    {
    return name;
    }
   module.exports.name=name;
   //second method for exports
   //module.export={function1,function2}
   //multiple function export see upside
   //and import see niche
   //const {function1,function2}=require('path of file');
</code>
</pre>
<pre>
<h3>work.js</h3><hr>
<code class="language-javascript">
   const mymodule=require('./module.js');
   //import module.js file and use module.js file function
   console.log(mymodule.sum(10,20));
   console.log(mymodule.name('mr.been'));
   console.log(__filename); //see file path
   console.log(__dirname);  //see file dir name 
</code>
</pre>
<div class="card">
<div class="card-body"><h5>output</h5>
<pre>
  <code class="language-javascript">
   $ node work.js
   30
   mr.been
   /storage/emulated/0/DCIM/node/work.js
   /storage/emulated/0/DCIM/node
  </code>
 </pre> 
</div>
</div>
</div>

<div class="card py-2 px-2 mt-2" id="path" id="bg">
<h3 class="pl-2 sea">Path Module</h3>
<pre>
<code class="language-javascript">
    const path=require('path');
    //import path module
    var filepath=path.join('mr.been',__filename);
    //join function join path
    console.log('join function:-'+filepath);
    console.log('baseaname_function:-'+path.basename(filepath));
    //basename function given top pata end it is filename
    console.log('extname_function:-'+path.extname(filepath));
    //extname return extension of file
    console.log('resolve_function:-'+path.resolve(__dirname,"mr.been"));
    //resolve function join path
    console.log('dirname_function:-'+path.dirname(filepath));
    //dirname function return directory name
    console.log('delimiter_function:-'+path.delimiter);
    //delimiter function return (:) 
    console.log('isAbsolute_function:-'+path.isAbsolute(filepath));
    //isAbsolute used to check path is valid or invalid and return true or false
    console.log('normalize_function:-'+path.normalize('user/mr.been/../abc'));
    //normalize path see output
    console.log(path.parse(filepath));
    //see output return object 
    
    //code for format function
    var obj = { dir: 'C:\\bob\\mr.been', base: 'work.js' }
    console.log('format function:-'+path.format(obj));
    //obj path format it
</code>
</pre>
<div class="card">
<div class="card-body"><h5>output</h5>
<pre>
  <code class="language-javascript">
   $ node work.js
   join_function:-mr.been/storage/emulated/0/DCIM/node/work.js
   baseaname_function:-work.js
   extname_function:-.js
   resolve_function:-/storage/emulated/0/DCIM/node/mr.been
   dirname_function:-mr.been/storage/emulated/0/DCIM/node
   delimiter_function:-:
   isAbsolute_function:-false
   normalize_function:-user/abc
   parse_function:-
   {
   root: '',
   dir: 'mr.been/storage/emulated/0/DCIM/node',
   base: 'work.js',
   ext: '.js',
   name: 'work'
   }
   format function:-C:\bob\mr.been/work.js
  </code>
 </pre> 
</div>
</div>
</div>

<div class="card py-2 px-2 mt-2" id="fs1" id="bg">
<h3 class="pl-2 sea">Using fs Module Read File</h3>
<pre>
<code class="language-javascript">
    var fs=require('fs');
    //import fs module
    fs.readFile('module.js','utf-8',function(err,data)
    {
    console.log(data);
    });
</code>
</pre>
<div class="card">
<div class="card-body"><h5>output</h5>
<pre>
  <code class="language-javascript">
    $ node work.js
    exports.sum=(a,b)=>(a+b);//arrow function short method
    //first method for exports
    function name(name)
    {
    return name;
    }
    module.exports.name=name;
  </code>
 </pre> 
</div>
</div>
</div>

<div class="card py-2 px-2 mt-2" id="wsa" id="bg">
<h3 class="pl-2 sea">Write File Using fs module with Synchronous&Asynchronous</h3>
<pre>
<code class="language-javascript">
   var fs=require('fs');
   //import fs module
   /* asynchronous code
   //write data in file
   fs.writeFile('module.js','console.log("mr.been")',function(err)
   {
   console.log('data write');
   });
   //filename,data,function pass in a function
   
   //append data in file
   fs.appendFile('module.js','console.log("mr.been say hello")',function(err)
   {
   console.log('data append')
   });
   //filename,data,function pass in a function
   */
   
   //synchronous code
   fs.writeFileSync('module.js','console.log("mr.been")');
   fs.appendFileSync('module.js','console.log("mr.been say hello")');
   
   //synchronous:-code run line by line
   //Ex.see uncomment code upside and run it
   //asynchronous:-code not run line by line 
   //Ex.see comment code upside and run it
   
   //fs.copyFileSynce('onefilename','secondfilename');
</code>
</pre>
<div class="card">
<div class="card-body"><h5>output</h5>
<pre>
   <h3>module.js</h3><hr>
  <code class="language-javascript">
    console.log("mr.been")
    console.log("mr.been say hello")
  </code>
 </pre> 
</div>
</div>
</div>

<div class="card py-2 px-2 mt-2" id="http" id="bg">
<h3 class="pl-2 sea">Http Server in Nodejs</h3>
<pre>
<code class="language-javascript">
   const http=require('http');
   const fs=require('fs');
   const path=require('path');
   
   const hostname='localhost';
   const port=7000;
   
   const server=http.createServer(function(req,res) 
   {
     if(req.method=='GET')
      {  var filename;
        if(req.url=='/') 
      {
        filename='/index.html';
      }
    else
      {
        filename=req.url;
      }
   
      var filepath=path.resolve('./public/'+filename);
    if(path.extname(filepath)=='.html') 
     {
       fs.exists(filepath,(exists)=>
     {
       if(!exists)
     {
       res.statuscode=404;
       res.setHeader('Content-Type','text/html');
       res.end('<h1><b>error:404</b>'+filename+'</h1>');
     }
   
     res.statuscode=200;
     res.setHeader('Content-Type','text/html');
     fs.createReadStream(filepath).pipe(res);
   });
     }
    else
     {
     res.statuscode=404;
     res.setHeader('Content-Type','text/html');
     res.end('<h1>only html file support</h1>');
     }  
  }
   else
    {
    res.statuscode=404;
    res.setHeader('Content-Type','text/html');
    res.end('<h1>wrong request</h1>');
    }
   });
   
   server.listen(port,hostname,function()
   {
   console.log("http://"+hostname+":"+port);
   });
</code>
</pre>
 <pre>
 <h3>package.json</h3><hr>
 <code class="language-javascript">
 {
 "name": "mr.been",
 "version": "1.0.0",
 "description": "create server",
 "main": "server.js",
 "scripts": {
 "test": "echo \"Error: no test specified\" && exit 1",
 "start": "node server.js"
 },
 "author": "mr.been",
 "license": "ISC"
 }
 </code>
 </pre> 
<div class="card">
<div class="card-body"><h5>output</h5>
<pre>
  <code class="language-javascript">
   $ npm start
   $ node server.js
     http://localhost:7000
   //http://localhost:7000/ (index.html) 
   //http://localhost:7000/about.html
   //create this upside file in public folder after start server
  </code>
 </pre> 
</div>
</div>
</div>

<div class="card py-2 px-2 mt-2" id="sapi">
<h3 class="pl-2 sea">Simple API</h3>
<pre>
<code class="language-javascript">
    //run in postman
    var http=require('http');
    http.createServer(function(req,res)
    {
    res.write('hello');
    res.end();
    }).listen(5000);
    //nodemon use if file code change auto server restart
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="jd">
<h3 class="pl-2 sea">pass json data in nodejs</h3>
<pre>
<code class="language-javascript">
    //second Example API Pass JSON DATA
    var http=require('http');
    http.createServer(function(req,res) 
    {
    data={ name:'mr.been', 
    job:'time pass' }
    res.writeHead(200,{'Content-Type':'application/json'});
    res. write(JSON.stringify(data));
    res.end();
    }) .listen(8000);
    
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="hd" id="bg">
<h3 class="pl-2 sea">HTML Code pass</h3>
<pre>
<code class="language-javascript">
    //html code pass
    var http=require('http');
    http.createServer(function(req,res) 
    {
    res.writeHead(200, {'Content-Type':'text/html'});
    res.write('<input type="text">') ;
    res.end();
    }).listen(5000);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="fr" id="bg">
<h3 class="pl-2 sea">File Read And Pass</h3>
<pre>
<code class="language-javascript">
    //File Read And Passa
    var http=require('http');
    var fs=require('fs');
    http.createServer(function(req,res)
    {
    fs.readFile('filename.html',function(error, data)
    {
    res.writeHead(200,{'Contant-Type':'text/html'});
    res.write(data);
    return res.end();
    });
    }).listen(5000);
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="db" id="bg">
<h3 class="pl-2 sea">Database Connection And Select Data</h3>
<pre>
<code class="language-javascript">
    //database connection and select data
    var mysql=require('mysql');
    var con=mysql.createConnection({
    host:'localhost', 
    user:'root', 
    password:'', 
    database:'bob'
    });
    con.connect(function(error)
    {
    if(error) 
    {
    throw error;
    }
    else
    {
    console.log('connected');
    con.query("select * from users",function(error,result)
    {
    if(error) 
    {throw error;}
    console.log(result);
    });
    }
    });
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="ev" id="bg">
<h3 class="pl-2 sea">Event</h3>
<pre>
<code class="language-javascript">
    //event
    var fs=require('fs');
    var read=fs.createReadStream('file1.txt');
    read.on('open',function() 
    {
    console.log('file open');
    });
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="cu" id="bg">
<h3 class="pl-2 sea"> Custom Event</h3>
<pre>
<code class="language-javascript">
    //custom events
    var events=require('events');
    var eventEmitter=new events.EventEmitter();
    
    eventEmitter.on('say',function(name)
    {
    console.log(name, 'is say');
    });
    
    eventEmitter.emit('say','mr.been');
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="ds" id="bg">
<h3 class="pl-2 sea">Directory Structure</h3>
<pre>
<code class="language-javascript">
 /* Directory Structure For expressjs
  |--working directory
  |-----express.js(MAIN CODING)
  |-----views(HTML FILE) 
  |----------comman(template inheritance File)
  |-----static(CSS FILE AND MEDIA)
  |-----models
*/
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="se" id="bg">
<h3 class="pl-2 sea">Start Expressjs</h3>
<pre>
<code class="language-javascript">
    //express
    //starting
    //expressjs is a framework of a nodejs
    const express=require('express');
    const app=express();
    
    app.get('/',function(req,res)
    { 
    res.send('done');
    });
    
    app.get('/home',function(req,res) 
    {
    res.send('home');
    });
    
    app.listen(4500);
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="ru" id="bg">
<h3 class="pl-2 sea">Routeing in expressjs</h3>
<pre>
<code class="language-javascript">
    //routing in express
    const express=require('express');
    const app=express();
    
    app.get('/', function(req, res)
    {
    res.send('welcom');
    });
    
    app.get('/about',function(req,res) 
    {
    res.send('about');
    });
    
    app.post('/login',function(req,res) 
    {
    res.send('login post');
    });
    
    app.put('/login',function(req,res)
    {
    res.send('login put');
    });
    
    app.delete('/login',function(req,res) 
    {
    res.send('login delete');
    });
    app.listen(5000);
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="mi" id="bg">
<h3 class="pl-2 sea"> Middleware</h3>
<pre>
<code class="language-javascript">
    //middle ware
    /*
    output
    $ node express.js
    /
    /about
    */
    const express=require('express');
    var app=express();
    
    var checkUrl=function(req,res,next) 
    {
    console.log(req.url);
    next();
    }
    app.use(checkUrl);
    app.get('/',function(req,res)
    {
    res.send('home');
    });
    app.get('/about',function(req,res) 
    {
    res.send('about');
    });
    app.listen(4500);
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="rmi" id="bg">
<h3 class="pl-2 sea">Routed Middleware</h3>
<pre>
<code class="language-javascript">
    //routed middleware
    const express=require('express');
    var app=express();
    var router=express.Router();
    var checkUrl=function(req,res,next) 
    {
    console.log(req.url);
    next();
    }
    app.get('/',function(req,res)
    {
    res.send('home');
    });
    router.get('/about',checkUrl,function(req,res) 
    {
    res.send('about');
    });
    
    app.use('/',router);
    app.listen(4500);
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="sfr" id="bg">
<h3 class="pl-2 sea">send file as a response</h3>
<pre>
<code class="language-javascript">
    //send file as a response in expressjs
    const express=require('express');
    var app=express();
    
    app.get('/',function(req, res)
    {
    res.sendFile(__dirname+"/index.html");
    });
    
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="te" id="bg">
<h3 class="pl-2 sea"> Template Engine</h3>
<pre>
<code class="language-javascript">
    //express Template Engine
    //npm install ejs --save
    //create views file in working directory
    //all ejs Template make in view folder
    /* profile.ejs 
    <|h1>welcom To!  <%= name %><|h1>
    */
    const express=require('express');
    var app=express();
    
    app.set('view engine','ejs');
    app.get('/profile/:name',function(req, res){
    console.log(req.params.name);
    res.render("profile",{name:req.params.name});
    });
    
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="pdp" id="bg">
<h3 class="pl-2 sea">Pass Dynamic Data In Template</h3>
<pre>
<code class="language-javascript">
    //pass dynamic data
    /* profile.ejs
    <|h1>welcom To!  <%= name %><|h1>
    <|h1><%= data.work %><|/h1>
    <|h5><%=  data. framework[0] %><|/h5>
    <|h5><%=  data.framework[1]%><|/h5>
    */
    /* using forEach loop 
    <|h1>welcom<|h1>
    <|h1><%= data.work %><|/h1>
    <|ul>
    <% data.framework.forEach(function(item){ %>
    <|li><%= item%><|/li>
    <% }) %>
    <|/ul>
    */
    const express=require('express');
    var app=express();
    
    app.set('view engine','ejs');
    app.get('/profile',function(req, res){
    data={work:'javascript',framework:['node', 'express']}
    res.render("profile",{name:req.params.name,data:data});
    });
    
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="ti" id="bg">
<h3 class="pl-2 sea"> Template Inheritance</h3>
<pre>
<code class="language-javascript">
    //template inheritance in expressjs
    /* views/common/nav.ejs
    <|ul>
    <|li><|a href="/">home<|/a><|/li>
    <|li><|a href="/about">about<|/a><|/li>
    <|/ul>
    */
    /*views/about.ejs
    <%- include('common/nav'); -%>
    <|h1>welcom To About<|/h1>
    */
    /*views/home.ejs
    <%- include('common/nav'); -%>
    <|h1>welcom To Home<|/h1>
    */
    //projectfolde/app.js
    const express=require('express');
    var app=express();
    
    app.set('view engine','ejs');
    app.get('/', function(req,res){
    res.render('home');
    });
    
    app.get('/about',function(req,res){
    res.render('about');
    });
    
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="sit" id="bg">
<h3 class="pl-2 sea">static file in express</h3>
<pre>
<code class="language-javascript">
    
    //satatic file in expressjs
    /* assets/style.css
    body
    {
    background-color:blue;
    color:white;
    }
    */
    /* views/nav.ejs
    <|link rel="stylesheet" href="/assets/style.css">
    <|ul>
    <|li><|a href="/">home<|/a><|/li>
    <|li><|a href="/about">about<|/a><|/li>
    <|/ul>
    */
    /* views/about.ejs
    <%- include('common/nav'); -%>
    <|h1>Welcom To about Page<|/h1>
    */
    /* views/home.ejs
    <%- include('common/nav'); -%>
    <|h1>Welcom To home Page<|/h1>
    */
    const express=require('express');
    var app=express();
    
    app.use('/assets',express.static('assets'));
    app.set('view engine','ejs');
    app.get('/', function(req,res){
    res.render('home');
    });
    
    app.get('/about',function(req,res){
    res.render('about');
    });
    
    app.listen(4500);
    
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="gfe" id="bg">
<h3 class="pl-2 sea">GET Form in Expressj</h3>
<pre>
<code class="language-javascript">
    //simple form in expressjs
    /* views/login.ejs
    <|h1>Welcom To login Page<|/h1>
    <|form action="" method="get">
    <|input type="text" name="name">
    <|input type="text" name="surname">
    <|input type="submit" >
    <|/form>
    */
    const express=require('express');
    var app=express();
    
    app.use('/assets',express.static('assets'));
    app.set('view engine','ejs');
    app.get('/login',function(req,res){
    if(req.method=='GET') 
    {
    console.log(req.query);
    //console.log(req.params);
    }
    res.render('login');
    });
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="pfe" id="bg">
<h3 class="pl-2 sea">POST Form In Expressjs</h3>
<pre>
<code class="language-javascript">
    //FORM POST Request in Expressjs
    //npm i body-parser
    /* views/login.ejs
    <|h1>Welcom To login Page<|/h1>
    <|form action="/login" method="POST">
    <|input type="text" name="name">
    <|input type="text" name="surname">
    <|input type="submit">
    <|/form>
    */
    const express=require('express');
    var app=express();
    var Bparser=require('body-parser');
    var encoder=Bparser.urlencoded();
    app.use('/assets',express.static('assets'));
    app.set('view engine','ejs');
    
    app.post('/about',encoder,function(req,res){
    console.log('post request');
    console.log(req.body);
    res.render('about');
    });
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="mo" id="bg">
<h3 class="pl-2 sea">mongodb database code</h3>
<pre>
<code class="language-javascript">
    
    //mongodb cloud connection 
    const express=require('express');
    const mongoose=require('mongoose');
    const app=express();
    mongoose.connect('nodjs url',
    {
    useNewUrlParser:true, 
    useunifiedTopology:true
    }).then(()=>{
    console.log('connection done');
    });
    
    //////////////////////////
    //mongodb connection is select all data
    /*model of database  user.js   why name user because table name user
    const mongoose=require('mongoose');
    let userSchema=new mongoose.Schema({
    _id:mongoose.Schema.Types.ObjectId, 
    name:String, 
    email:String, 
    age:String
    });
    module.exports=mongoose.model('user', userSchema);
    */
    const express=require('express');
    const mongoose=require('mongoose');
    const user=require('./user');
    const app=express();
    mongoose.connect('mongodb+srv://******:*******@cluster0.dyut5.mongodb.net/****?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    user.find({},function(err,user) 
    {
    if(err) {console.log(err);}
    console.log(user);
    });
    
    ///////////////////////
    //insert data in mongodb
    /* models/users.js
    const mongoose=require('mongoose');
    let userSchema=new mongoose.Schema({
    _id:mongoose.Schema.Types.ObjectId, 
    name:String, 
    email:String, 
    age:String
    });
    module.exports=mongoose.model('users', userSchema);
    */
    const express=require('express');
    const mongoose=require('mongoose');
    const users=require('./models/user');
    const app=express();
    mongoose.connect('mongodb+srv://*****:*****@cluster0.dyut5.mongodb.net/***?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    const data=new users({
    _id:mongoose.Types.ObjectId(), 
    name:"hi", 
    email:"hi@gmail.com", 
    age:"50"
    });
    
    data.save().then(function(result)
    {console.log(result);}).catch(function(err) {console.log(err);});
    
    /////////////////////////
    //api get request 
    //model code same to same upside model code
    const express=require('express');
    const mongoose=require('mongoose');
    const users=require('./models/user');
    const app=express();
    mongoose.connect('mongodb+srv://****:******@cluster0.dyut5.mongodb.net/****?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    app.get('/',function(req,res)
    {
    users.find().then((data)=>
    {
    res.status(200).json(data);
    });
    });
    app.listen(4500);
    
    /////////////////////
    //post request in api in 
    //model same
    const express=require('express');
    const mongoose=require('mongoose');
    const users=require('./models/user');
    const bodyParser=require('body-parser');
    const jsonp=bodyParser.json();
    const app=express();
    mongoose.connect('mongodb+srv://*****:******@cluster0.dyut5.mongodb.net/****?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    app.post('/user',jsonp,function(req,res) 
    {
    const data=new users({
    _id:mongoose.Types.ObjectId(), 
    name:req.body.name, 
    email:req.body.email, 
    age:req.body.age
    });
    data.save().then(result=>console.log('ok')).catch(err=>console.log(err));
    res.end(req.body.name);
    });
    app.listen(4500);
    
    /////////////////////
    //delete
    //some problem and same module
    const express=require('express');
    const mongoose=require('mongoose');
    const users=require('./models/user');
    const bodyParser=require('body-parser');
    const jsonp=bodyParser.json();
    const app=express();
    mongoose.connect('mongodb+srv://*****:*****@cluster0.dyut5.mongodb.net/****?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    app.delete('/user/:id', function(req,res) 
    {
    users.deleteOne({_id:req.params.id}).then(re=>res.status(200).json(re)).catch(err=>console.log(err));
    });
    app.listen(4500);
    //////////////////////
    //put/updated data
    const express=require('express');
    const mongoose=require('mongoose');
    const users=require('./models/user');
    const bodyParser=require('body-parser');
    const jsonp=bodyParser.json();
    const app=express();
    mongoose.connect('mongodb+srv://*****:******@cluster0.dyut5.mongodb.net/***?retryWrites=true&w=majority',
    {
    useNewUrlParser:true, 
    useUnifiedTopology:true
    });
    
    app.put('/user/:id',jsonp,function(req,res) 
    {
    users.updateOne({_id:req.params.id },
    {$set:{name:req.body.name,
    email:req.body.email
    }}
    ).then(re=>console.log('ok')).catch(err=>console.log(err));
    });
    app.listen(4500);
</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="videostr" id="bg">
<h3 class="pl-2 sea">Striming Using pipe</h3>
<pre>
<code class="language-javascript">
    //in node
const http=require('http') 
const fss=require('fs')


http.createServer((req, res)=>{
res.setHeader('Content-Type','video/mp4')
let rs=fss.createReadStream('video.mp4') 
rs.on('open',()=>rs.pipe(res)) 
rs.on('error',(err)=>res.end(err)) 
}).listen(3000)

//in express
/*
const express=require('express')
const app=express()
const fs=require('express')
app.get('/',(req,res)=>{
  res.setHeader('Content-Type','video/mp4')
  let rs=fss.createReadStream('video.mp4') 
  rs.on('open',()=>rs.pipe(res)) 
  //rs.pipe(res))
  rs.on('error',(err)=>res.send(err)) 
}) 
app.listen(3000)
*/

/*
//serve-video.js
var http = require('http');
var fs = require('fs');
http.createServer(function (req, res) {
	console.log("Port Number : 3000");
	// change the MIME type to 'video/mp4'
    res.writeHead(200, {'Content-Type': 'video/mp4'});
    fs.exists('video.mp4',function(exists){
		if(exists)
		{
			var rstream = fs.createReadStream('video.mp4');
			rstream.pipe(res);
		}
		else
		{
			res.send("Its a 404");
			res.end();
		}
	});
}).listen(3000);					
*/
</code>
</pre>
</div>


<div class="card py-2 px-2 mt-2" id="promise" id="bg">
<h3 class="pl-2 sea">Promise</h3>
<pre>
<code class="language-javascript">
    //short method promise
async function addnumber(a,b)
{
 if(typeof(a)=='number'&&typeof(b)=='number'){
  return a+b;
  }
  return 'not possible';
}

async function operation(a,b)
{
 const result= await addnumber(a,b)
 console.log(result)
}

operation(7,6)

//you can't able to use catch
/*Note:- async function always return promise. 
       - you can't use await outside of async function
       - up side code is short method
       - you can use then also for this method but catch can't usable
       - error or result return but only one side return mens one variable stor error or result      
*/
////////////////////////////////////////
////////////////////////////////////////
//log method promise
function addnumber(a,b)
{
 return new Promise((resolve,reject)=>{
   if(typeof(a)=='number'&&typeof(b)=='number'){
    resolve(a+b) 
   }
   else {
    reject("not possible") 
   }
 })
}

addnumber(6,7)
.then(data=>console.log(data))
.catch(err=>console.log(err))

//you are able to use then or catch then provide result or catch provide error

//callback
function add(a,b,callback){
 if(typeof(a)=='number'&&typeof(b)=='number'){
   return callback(a+b)
 }
 else {
   return callback(null,true)
 }
}

add(6,7,(result,error)=>{
 if(error){
   console.log('error') 
 }
 else {
  console.log(result)
 }
}) 

</code>
</pre>
</div>

<div class="card py-2 px-2 mt-2" id="" id="bg">
<h3 class="pl-2 sea">Other Notes</h3>
<pre>
<code class="language-javascript">
///google login & sigin
const express=require('express') 
const passport=require("passport") 
const {Strategy} =require('passport-google-oauth20')


const app = express();
app.listen(3000, () => {
    console.log('server is started');
})

app.use(passport.initialize());
app.use(passport.session());

passport.serializeUser(function (user, cb) {
    cb(null, user);
});

passport.deserializeUser(function (obj, cb) {
    cb(null, obj);
});

passport.use(new Strategy({
        clientID: 'enter your detail',
        clientSecret: 'enter your detail',
        callbackURL: 'enter your detail'
    },
    function (accessToken, refreshToken, profile, done) {
        // if user already exist in your dataabse login otherwise
        // save data and signup
        done(null,profile);
    }
));

app.get('/auth/google', passport.authenticate('google', {scope: ['profile']}));

app.get('/auth/google/callback', passport.authenticate('google', {failureRedirect: '/auth/fail'}),
    (req, res, next) => {
        console.log(req.user, req.isAuthenticated());
        res.send('user is logged in');
    })

app.get('/auth/fail', (req, res, next) => {
    res.send('user logged in failed');
});

app.get('/logout', (req, res, next) => {
    req.logout();
    res.send('user is logged out');
});
//////////

</code>
</pre>
</div>
<!--use it -->

</div>
<!--&&-->
</div>
<!-- end block -->
</div>
<!-- end code -->

<script type="text/javascript">
 var serchid=document.getElementById("searchinput");
 var ids=document.getElementsByClassName("sea");
 function search() 
 {
   var serchtext=serchid.value;
   for(var i=0;i<ids.length;i++){
     var data=ids[i].innerHTML.toLowerCase();
     var serchtext=serchtext.toLowerCase();
     if(data.includes(serchtext)) 
     {
      ids[i].parentElement.style.display="block";
     }
     else
     {
      ids[i].parentElement.style.display="none";
     }
   }
 }
</script>
<script src="folder/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>
